<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wdttg.wheredidthetimego" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ResultActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SliderActivity"
            android:label="@string/title_activity_slider" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ResultActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wdttg.wheredidthetimego.ResultActivity" />
        </activity>

        <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
        <receiver android:name=".history.NotificationGenerator"/>
        <receiver android:name="history.NotificationGenerator$TapReceiver" />
        <receiver android:name="history.NotificationGenerator$NoReceiver" />
        <receiver android:name="history.NotificationGenerator$KindaReceiver" />

        <receiver android:name="wdttg.wheredidthetimego.history.NotificationGenerator$TapReceiver">
            <intent-filter>
                <action android:name="wdttg.wheredidthetimego.tap"/>
            </intent-filter>
        </receiver>

        <receiver android:name="wdttg.wheredidthetimego.history.NotificationGenerator$YesReceiver">
            <intent-filter>
                <action android:name="wdttg.wheredidthetimego.yes"/>
            </intent-filter>
        </receiver>

        <receiver android:name="wdttg.wheredidthetimego.history.NotificationGenerator$KindaReceiver">
            <intent-filter>
                <action android:name="wdttg.wheredidthetimego.kinda"/>
            </intent-filter>
        </receiver>

        <receiver android:name="wdttg.wheredidthetimego.history.NotificationGenerator$NoReceiver">
            <intent-filter>
                <action android:name="wdttg.wheredidthetimego.no"/>
            </intent-filter>
        </receiver>



    </application>

</manifest>
